[user]
	email = connor.mooneyhan@atlanticbt.com
	name = Connor Mooneyhan
[core]
	editor = vim
[safe]
	directory = /home/ConnorM/code/gtdist
	directory = /home/ConnorM/code/gtdist
	directory = /home/ConnorM/code/gtdist
